body {
    margin: 8;
    background-image: url("images/background.jpg");
}

<<<<<<< HEAD
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 10%;
   margin-right: 10%;
}

header img {
    height: 5%;
    width: 5%;
}

header h1 {
    font-size:48px;
    color: white;
}

#modes1{
    display: flex;
    justify-content: space-evenly;
}

#modes1 button {
    height: 10%;
    width: 10%;
    background-color: #336699;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid;
    
}

#modes1 button:hover{
    background-color:#0099cc;
}

#modes2{
=======
#aindex {
    color: black; 
    font-size: 50px;
    text-decoration: none;
>>>>>>> 127bc4c8bdd7f94411c4836c0f564a98890e6aaa
    display: flex;
    justify-content: space-evenly;
}

<<<<<<< HEAD
#modes2 button {
    height: 10%;
    width: 10%;
    background-color: #336699;
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid;
    
}

#modes2 button:hover{
    background-color:#0099cc;
}

*{
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 4;
}
=======
#aindex:hover {
    background-color: rgb(166, 175, 255);
}

#divlogin {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    background-color: aliceblue;
    border: 3px solid black;
}

#welcome {
    text-decoration: none;
    margin: 25px;
    color: black;
    text-align: center;
}

.loginInput {
    align-self: center;
    font-size: 18px;
    font-display: bold;
    width: 350px;
    height: 75px;
    margin: 20px;
    color: darkgray;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#btnlogin {
    margin: 25px;
    align-self: center;
    min-width: 250px;
    min-height: 50px;
    background-color:white;
}

#alogin {
    text-decoration: none;
    color: black;
}

#plogin {
    margin: 25px;
    text-align: center;
}

.uplogin {
    margin:auto;
    font-size: 18px;
}

#error {
    font-size: 18px;
    text-align: center;
    color: red;
}
>>>>>>> 127bc4c8bdd7f94411c4836c0f564a98890e6aaa
